.projetos-container{
    width: 100%;
    border-radius: 12px;
    height: auto;
    background-color: #202024;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    box-shadow: 6px 6px 12px black;

    .projetos-title{
        font-weight: bolder;
        color: white;
        font-size: 36px;
    }

    .experiences-count{
        display: flex;
        flex-direction: row;
        width: 70%;
        margin-top: 25px;
    }

    .count-mark{
        cursor: pointer;
        width: 12px;
        height: 12px;
        border-radius: 6px;
        background-color: rgb(70, 80, 221);
        margin-right: 12px;
    }

    .disable{
        background-color: #aaaabc;
    }

}

.projeto-container{
    display: flex;
    flex-direction: row;

    .projeto-infos{
        display: flex;
        width: 90%;
        flex-direction: column;
        padding-right: 20px;
        margin-top: 12px;
        
        .projeto-name{
            font-weight: bolder;
            color: white;
            font-size: 16px;
        }

        .projeto-data{
            font-weight: bold;
            color: aliceblue;
            margin-top: 6px;
        }

        .projeto-label{
            color: white;
            font-size: 16px;
            font-weight: bold;
            margin-top: 6px;
        }

        .projeto-descript{
            margin-top: 6px;
            color: white;
        }

        .link-repository{
            color: white;
        }
    }

    .icon-next{
        align-self: center;
        margin-left: 20px;
        font-size: 36px;
        font-weight: bolder;
        cursor: pointer;
        color: white;
    }

}

@media (max-width: 426px) {
    .projetos-container{
        height: auto;
    }

    .projeto-container{
        display: flex;
        flex-direction: column;
        width: 100%;
    
        .projeto-infos{
            display: flex;
            width: 100%;
            flex-direction: column;
            border: none;
            margin-top: 12px;    
            margin-bottom: 12px;
        
                    
            .projeto-descript{
                color: white;
                height: auto;
            }

        }
        
        .projeto-skills{

            display: flex;
            flex-direction: column;
            padding-left: 0px;
            justify-content: space-around;
            flex-wrap: wrap;
            height: auto;
            .projeto-utility{
                display: inline-block;
            }
        }
    }
}